<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>

    <div th:replace="base :: header"></div>
    <main class="container">
        <a href="#" class="btn btn-success mt-1">Thêm sản phẩm</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${products}">
                    <td>
                        <img th:src="${p.image}" width="200"/>
                    </td>
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price + ' VND'}"></td>
                    <td>
                        <button class="btn btn-danger">&times;</button>
                        <a href="#" class="btn btn-info">&Alpha;</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </main>
    <div th:replace="base :: footer"></div>
</body>
</html>