
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Đăng nhập</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>

    <div th:replace="base :: header"></div>
    <main class="container">
        <h1 class="text-center text-info mt-1">Đăng nhập</h1>
        
        <form th:action="@{/login}"  method="POST" >
            <div class="mb-3 mt-3">
                
                <input type="text" class="form-control" name="username" id="name" placeholder="Tên đăng nhập">
                <label for="name">Tên đăng nhập</label>
            </div>
            <div class="mb-3 mt-3">
                
                <input type="password" class="form-control" name="password" id="password" placeholder="Mật khẩu">
                <label for="password">Mật khẩu</label>
            </div>
            
            <div class="mb-3 mt-3">
                <button class="btn btn-info">
                   Đăng nhập
                </button>
            </div>
        </form>
    </main>
    <div th:replace="base :: footer"></div>
</body>
</html>
