
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản trị sản phẩm</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>

    <div th:replace="base :: header"></div>
    <main class="container">
        <h1 class="text-center text-info mt-1">Quản trị sản phẩm</h1>
        
        <form th:action="@{/add}" th:object="${product}" method="POST" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                
                <input type="text" class="form-control" th:field="*{name}" placeholder="Tên sản phẩm">
                <br>
                <input type="number" class="form-control" th:field="*{price}" placeholder="Giá sản phẩm">

            </div>
            <div class="mt-3 mb-3">
                <select class="form-select">
                    <option th:each="c:${categories}" th:value="${c.id}" th:field="*{categoryId}" th:text="${c.name}"></option>
                    
              </select>
            </div>
            <div class="mb-3 mt-3">
                <label for="price">Ảnh sản phẩm</label>
                <input type="file" class="form-control" th:field="*{file}" id="price" placeholder="Ảnh sản phẩm" />
                
                <img th:src="${product.image}" width="200" th:if="${product.id != null && product.image != null }" />
            </div>
            
            <div class="mb-3 mt-3">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{image}" />
                
                <button class="btn btn-info">
                    <span th:if="${product.id == null}">Thêm sản phẩm</span>
                    <span th:unless="${product.id == null}">Cập nhật sản phẩm</span>
                </button>
            </div>
        </form>

        </form>
    </main>
    <div th:replace="base :: footer"></div>
</body>
</html>